@import './publicStyle/reset.scss';
// 导入重置样式  
@import './publicStyle/some2.scss';
// 导入默认样式

.product {
  width: 1210px;
  margin: 0 auto;
  font-size: 12px;

  // 商品图片外层
  .p-pic {
    width: 350px;
    position: relative;
    float: left;
  }

  // 小放大镜
  .sf {
    position: absolute;
    background: #fede4f;
    opacity: 0.3;
    visibility: hidden;
  }

  //大放大镜
  .bf {
    position: absolute;
    visibility: hidden;
    width: 540px;
    height: 540px;
    top: 0;
    left: 355px;
    overflow: hidden;

    //大图
    .bpic {
      position: absolute;
    }
  }

  // 小图
  .main-pic {
    margin: 0 0 20px;

    .spic {
      width: 350px;
      height: 350px;
    }
  }

  //图片切换
  .tabpic {
    position: relative;

    // 图片列表外框
    .piclist-wrap {
      height: 56px;
      width: 300px;
      position: absolute;
      left: 25px;
      overflow: hidden;
    }

    //图片列表
    .piclist {
      position: absolute;

      li {
        margin: 0 2px;
        float: left;
        border: 1px solid #ffffff;
      }
    }

    img {
      width: 54px;
      height: 54px;
    }

    //按钮 
    .btn {
      width: 22px;
      height: 32px;
      margin: 11px 0px;
      opacity: 0.5;
      background-image: url('../img/detail_pic_some.png');
    }

    .p-left {
      opacity: 0.3;
      float: left;
      margin-left: 0;
      background-position: 0 -54px;
    }

    .p-right {
      float: right;
      margin-right: 0;
      background-position: -78px 0;
    }
  }

  //商品信息
  .p-info {
    float: left;
    width: 590px;
    margin: 0 25px 0 30px;

    // 商品名
    .p-title {
      width: 100%;
      font: 700 16px Arial, "microsoft yahei";
      color: #666;
      padding-top: 10px;
      line-height: 28px;
      margin-bottom: 5px;

      // 京东超市图片
      img {
        margin-top: 5px;
        margin-right: 5px;
        float: left;
      }
    }

    // 价格区域
    .p-area {
      height: 123px;
      padding: 10px 0 0 10px;
      background: #f3f3f3;
    }

    .g-price {
      padding-bottom: 5px;

      i {
        font-size: 16px;
        color: $c1;
      }

      strong {
        font-size: 22px;
        color: $c1;
      }
    }

    .g-p-bottom {
      padding-bottom: 5px;

      i {
        font-size: 16px;
      }

      strong {
        font-size: 22px;
      }
    }

    // 设置数量，加入购物车
    .p-choose {
      border-top: 1px dotted #dfdfdf;
      margin-top: 15px;
      padding-top: 30px;
      input {
        display: block;
        float: left;
        width: 43px;
        height: 45px;
        line-height: 45px;
        border: 1px solid #ccc;
        text-align: center;
        font-size: 14px;
        border-right: none;
      }
    }

    .c-btn {
      float: left;
      font-size: 0;
      margin-right: 20px;
      a {
        // float: left;
        display: block;
        width: 15px;
        height: 22px;
        text-align: center;
        line-height: 22px;
        overflow: hidden;
        background: #f1f1f1;
        color: #666;
        border: 1px solid #ccc;
      }
      .add{
        border-top: none;
      }
    }

    .addcart {
      display: block;
      float: left;
      height: 47px;
      line-height: 47px;
      font-size: 18px;
      font-weight: 900;
      color: #ffffff;
      padding: 0 26px;
      background: $c1;
    }
  }
}